{% load url from future %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/baselogin.css" %}">

<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<script type="text/javascript">
{% autoescape off %}
	var js_data = {{js_data}};
{% endautoescape %} 
</script>
<script src="{% static "jscript/jquery-2.0.0.min.js" %}"></script>
<script src="{% static "jscript/ajax.js" %}"></script>
<script src="{% static "jscript/baselogin.js" %}"></script>

{% block stylesheet%}{% endblock %}

<title>{% block title %}{% endblock %}</title>

</head>
<body>
	<div class="container">
		<div class="flat-form">
			<ul class="tabs">
				<li><a href="#login">Login</a></li>
				<li><a href="#register" >Register</a></li>

				<li><a href="#reset">Reset Password</a></li>
				<li><a href="#social">Social Login</a>
			</ul>
			<div id="login" class="form-action hide">
				<h1>Login into Rebook</h1>
				<form action={% url 'login' %} method="post">
					{%csrf_token%}
					<p>{{ form.non_field_errors }}</p>
					<ul>
						<li>{{form.username.errors}}{{form.username}}</li>
						<li>{{form.password.errors}}{{form.password}}</li>
						<li><input type="submit" value="Login" class="button" /></li>
					</ul>
				</form>
			</div>
			<div id="register" class="form-action hide">
				<h1>Register</h1>
				<form action={% url 'register' %} method="post">
					{%csrf_token%}
					<ul>
						<li>{{pwform.username.errors}}{{pwform.username}}</li>
						<li>{{pwform.password.errors}}{{pwform.password}}</li>
						<li><input type="submit" value="Send" class="button" /></li>
					</ul>
				</form>
			</div>
			<div id="reset" class="form-action hide">
				<h1>Reset Password</h1>
				<p>To reset your password enter your email and your birthday and
					we'll send you a link to reset your password.</p>
				<form method="post" action={%url 'pw_reset' %}>
					{%csrf_token %}
					<ul>
						<li>{{form.username.errors}}{{form.username}}</li>
						<li><input type="submit" value="Change Password" class="button" /></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
