{% load url from future %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">

<script src="{% static "jscript/jquery-2.0.0.min.js" %}"></script>
<script src="{% static "jscript/ajax.js" %}"></script>
{% block stylesheet%}{% endblock %}

<title>{% block title %}{% endblock %}</title>

</head>
<body>
	<div id="container">
		<header>
			<a href="http://www.google.de"> {% load staticfiles %} 
			<img src="{% static "images/bookstore.png" %}" width="400px"alt="ReBook"/></a>
			<div class="divider">&nbsp;</div>
			<nav>
				<ul id="Navigation">
					<li><a class="clickable" href="{% url 'index' %}">Main&nbsp;</a></li>
					<li><a class="clickable" href="{% url 'booklist' %}">Booklist&nbsp;</a></li>
					<li><a class="clickable" href="{% url 'genre' %}">Genre</a></li>
				</ul>
				{% if user.is_authenticated %}
				<ul id="Register">
					<li>Hallo {{user.username}}</li>
					<li><a class="clickable" href={%url 'userarea' %}>User
							Area</a></li>
					<li><a class="clickable" href={%url 'logout' %}>Logout</a></li>
				</ul>
				{% else %}
				<ul id="Register">
					<li><a class="clickable" href={%url 'login' %} > Login |
							Register </a></li>
				</ul>
				{% endif %} {% csrf_token %} <input type="text" id="search" />
				<div id="searchbox_container">
					<div id="searchbox"></div>
				</div>
				<div class="divider">&nbsp;</div>
			</nav>
		</header>


		<aside>
			{% block aside %}
			<article>
				<ul class="aside_book">
					<li><a href="">Sell a book</a> 
					<li><a href="">inform friends</a>
				</ul>
			</article>
			{% endblock %}
		</aside>
		<section id="content">{% block content %}{% endblock %}</section>

		<footer>
			<ul style="list-style: none;">
				<li><a class="clickable" href="">Impressum</a></li>
			</ul>
		</footer>

	</div>
</body>
</html>
