{% load url from future %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
{% block stylesheet%}{% endblock %}

<title>{% block title %}{% endblock %}</title>

</head>
<body>
	<div id="container">
		<header>
			<a href="http://www.google.de"> {% load staticfiles %}<img src="{% static "images/bookstore.png" %}" width="400px"
				alt="ReBook" /></a>
			<p>THE BOOK STORE</p>
	
			<nav>
				<ul id="Navigation">
					<li><a href="{% url 'index' %}">Main&nbsp;</a></li>
					<li><a href="{% url 'booklist' %}">Booklist&nbsp;</a></li>
					<li><a href="#Beispiel">Seite&nbsp;2</a></li>
					<li><a href="#Beispiel">Seite&nbsp;3</a></li>
					<li><a href="#Beispiel">Seite&nbsp;5</a></li>
					<li><a href="#Beispiel">Seite&nbsp;6</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'userarea' %}">TODO: USERAREA</a></li>
				{% endif %}
				</ul>
				{% if user.is_authenticated %}
					<ul id="Register">
						<li > Hallo {{user.username}} </li>
						<li ><a href = {% url 'logout' %}> Logout </a></li>
					</ul>
				{% else %}
					<ul id="Register">
						<li ><a href ={% url 'register' %}> Register </a></li>
						<li ><a href = {% url 'login' %}> Login </a></li>
					</ul>
				{% endif %}
			</nav>
		</header>


		<aside>
			{% block aside %}{% endblock %}
		</aside>



		<section id="content">{% block content %}{% endblock %}</section>

		<footer>
			<h2>&lt;footer&gt;</h2>
		</footer>
		
	</div>
</body>
</html>
