
<html>
<form action={ url 'register' } method="post">{%csrf_token%}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="id_subject">Username : </label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
    	{{form.password.errors}}
    	<label for="id_subject">Password : </label>
    	{{form.password}}
    </div>
    <div class="fieldWrapper">
        {{ form.sender.errors }}
        <label for="id_sender">Email Address:</label>
        {{ form.sender }}
    </div>
    <p><input type="submit" value="Register" /></p>
</form>
</html>