@import url(http://fonts.googleapis.com/css?family=Roboto:100);

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header,footer,section,aside,article {
	display: block;
}

body {
	background-color: #1a1a1a;
	font-size: 0.95em;
	font-family:'Roboto';
	color:white;
}

pre,code {
	font-size: 1.3em;
}

h1,h2 {
	font-size: 1.8em;
	font-weight: normal;
	margin: 0 0 20px;
}

#container {
	max-width: 1200px;
	min-width: 960px;
	margin: 10px auto;
	background-color:#e74c3c;
	color:white;
}
/*---------------------------- search ---------------------------*/

#search{
	width: 500px;
	height: 25px;
	margin: 5px;
	color: #564b47;
	border-style:solid;
	border-width:1px;
	border-radius: 4px;
	
}

div #searchbox_container {
	position: relative;
}

div #searchbox {
	position: absolute;
	top: 0;
	left: 0;
	width : 500px;
	height: 25px;
	border-width: 1px;
	border-radius: 4px;
	z-index:999;
}



ul.searchbox_table{
	list-style: none;
	margin: 5px;
	padding: 5px;
	background-color: white;
	box-sizing: border-box;
}

ul.searchbox_table li{
	color:white;
	margin-bottom:1px;
	border-radius: 4px;
	padding: 5px 0 5px 2px;
	background-color:#136899;
	
}

ul.searchbox_table li a{
	color:white;
}

ul li#searched:hover{
	background-color:#136856;
	color: #EEEEEE;
	border-radius: 4px;
    -webkit-appearance: none;
    -webkit-transition:all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition:all 0.5s linear;
}

ul li a#searchlink {
display: block;
color:white;
text-decoration: none;
//to make every element in list clickable
}


/*---------------------------- navigation ------------------------*/
nav {
	max-width: 1200px;
	min-width: 960px;
	background-color: #e74c3c;
	color:white;
	display: inline;
}

nav ul#Navigation {
	margin: 0;
	float: left;
	margin-left:3px;
	text-align: left;
	width:49%;
	background-color: #e74c3c;
	height:60px;
}
nav ul#Navigation li {
	position:relative;
	display:inline-block;
	list-style: none;
	padding: 2px;
  	margin: 3px;
	list-style-type: none;
}
a.clickable:hover{
	background: #1e75aa;
}

a.clickable{
	display: block;
    background: #136899;
    height: 42px;
    width: 80px;
    padding-top:2px;
    text-align:center;
    font-weight:bold;
    border-radius: 5px;
    -webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

nav ul#Register {
	margin: 0;
	float: right;
	margin-right:3px;
	text-align: right;
	width:48%;
	background-color: #e74c3c;
	height:60px;
}

nav ul#Register li {
	position:relative;
	display:inline-block;
	list-style: none;
	padding: 2px;
  	margin: 3px;
	list-style-type: none;
}

div.divider{
	display:block;
	height:5px;
	padding:0;
	background-color: silver;
}
)

/*-------------------------------aside nav------------------------------ */


ul.aside_book{
	text-decoration:none;
	padding:2px;
	display:block;
	width:100%;
	height:100%;
	top:0;
	left:0;
	list-style: none;
}

ul.aside_book li{
	background-color:#136899;
	display:block;
	list-style-type: none;
	width:100%;
	padding:3px;
	margin-bottom:2px;
	position:relative;
	text-align:center;
	font-weight:bold;
}
ul.aside_book li a{
	width:100%;
	display:block;
	transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
}


/*-------------------------------input------------------------------ */
input[type=text]{ 
      padding:6px;
      font-size:18px;
      border:2px solid #ccc;
      background: white;
      padding: 5px;
      width:280px;
      margin-bottom: 10px;
      border-radius: 4px;
      text-align:left;
      -webkit-transition: 0.5s ease-in-out all;
      -moz-transition: 0.5s ease-in-out all;
      -ms-transition: 0.5s ease-in-out all;
      -o-transition: 0.5s ease-in-out all;
      transition: 0.5s ease-in-out all;
}
input[type=text]:focus{ 
      border-color:white;
      -moz-box-shadow: 0px 0px 14px #dfdfdf;
      -webkit-box-shadow: 0px 0px 14px #dfdfdf;
      box-shadow: 0px 0px 14px #dfdfdf;
}




/* -----------------------------div------------------------------ */
div#id_sender{
	background-color: silver;
}

/*---------------------------- aside -----------------------------*/
aside {
	float: right;
	width: 250px;
	padding: 20px;
}

#aside_navigation li{
	border-bottom: 1px solid #ccc;
	padding: 5px;
	list-style: none;
	
}

/*---------------------------- content ----------------------------*/
section#content {
	background-color: #ffffff;
	margin: 0 250px 0 0px;
	min-height: 600px;
	padding: 20px;
}

p,pre {
	padding: 0 0 20px;
	line-height: 1.5em;
}

/*---------------------------- footer ----------------------------*/
footer {
	padding: 20px;
	clear: both;
	border-top: 5px solid #ccc;
}
/*---------------------------- header ---------------------------*/
header {
	background: #e74c3c;
}

header p {
	text-transform: uppercase;
	font-size: 11px;
}

header img {
	padding: 0 0 10px;
}

/*---------------------------- links ----------------------------*/
a {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: white;
}
a#searchlink{
	color:#000000;
}

a:hover {
	color: #000000;
}

a:active {
	color: #000000;
}


