{% extends 'base.html' %} 



{% block title %} Bookstore Booklist {% endblock %}

{% block stylesheet%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/booklist.css" %}">
{% endblock %}

{% block content %}

<article>
	<h2>test</h2>
	{% for book in booklist %}
	<div id="searchResults">
		<strong>Titel: </strong>{{ book.title }}<br>
		<strong>Autor: </strong>{{ book.author }}<br>		 
		<strong>Beschreibung: </strong>{{ book.description}}<br>	 
	</div>
	{% endfor %}
	
	</ul>
	
</article>

{% endblock %}


{% block aside %}

<article>
	<p>
		<b> adds, etc.</b>
		<br> some additional infomation
		<br> template
	</p>
	
</article>

{% endblock %}

