{% extends 'base.html' %} 
{% block title %} Welcome to PHD -  {% endblock %} 
{%block stylesheet%} 

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/booklist.css" %}">

{%endblock%} 
{% block content %}
<article>

	{%for book in recentbooks%}
	<div class="clickable">
		<a href="/main/booklist/{{book.id}}"></a> <strong>Titel: </strong>
		{{book.title }}<br> {%for author in book.author.all %} <strong>Autor
			: </strong>{{ author.first_name }} {{author.last_name}}<br> {%endfor%} <strong>
			Beschreibung: </strong>{{ book.description}}<br>

	</div>

	{%endfor%}

</article>

{% endblock %} {% block aside %}

<article>
	<ul class="aside_book">
		<li><a href="">Sell a book</a>
		<li><a href="">inform friends</a>
	</ul>
</article>

{% endblock %}

